body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  max-width: 100%;
}

.div1 {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(307deg, #272333, #000000);
  position: relative;
}

.div1 img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 58%;
  min-width: 202px;
  animation: netflix_style 3.5s;
}

@keyframes netflix_style {
  0%, 10% {
    transform: scale(1, 1);
  }

  20% {
    transform: scale(0.80, 0.80);
  }

  75% {
    opacity: 1;
  }

  80% {

    transform: scale(0.75, 0.75);
  }

  100% {

  }
}

.header_list {
  color: white;
  display: flex;
  height: 10vh;
  position: absolute;
  margin-left: 4.33839479%;
}

.header_list * {
  margin-left: 1rem;
}

.header_list p {
  font-size: 112.5%;
  text-decoration: underline;
  height: 2.5rem;
  width: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header_list p:hover {
  background: white;
  color: #292637;
  text-decoration: none;
  cursor: pointer;
}

.burger_trigger {
  position: absolute;
  left: 2.5%;
  width: 6.6rem;
  height: 4.1rem;
  display: none;
}

.burger_trigger:hover {
  cursor: pointer;
}

.burger {
  height: 5px;
  width: 50px;
  background: #fff;
  position: relative;
  top: 61%;
  left: 25%;
  border-radius: 10px;
  transition: all 0.1s;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50px;
  background: #fff;
  border-radius: 10px;
  transition: all .5s;
}

.burger:before {
  top: -16px;
}

.burger:after {
  top: 16px;
}

.menu {
  display: none;
  list-style: none;
  padding-left: 0;
  line-height: 40px;
  font-size: 112.5%;
  margin-top: 70px;
  color: white;
  li {
    text-decoration: underline;
    height: 2.5rem;
    width: 6.5rem;
    padding-left: 10px;
    border-radius: 5px;
    &:hover {
      background: white;
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.menu_opened {
  display: block;
}

.burger_trigger.active .burger {
  background: rgba(0, 0, 0, 0);
}

.burger_trigger.active .burger:before {
  top: 0;
  transform: rotate(45deg);
}

.burger_trigger.active .burger:after {
  top: 0;
  transform: rotate(135deg);
}

.developer {
  position: absolute;
  top: 89%;
  display: flex;
  right: 10%;
  font-size: 112.5%;
  align-items: center;
  color: white;
}

.developer p {
  padding-right: 20px;
}

.developer_input {
  background: #272333;
  color: white;
  border: 1px solid;
  padding: 0.7rem;
}

.developer_input:hover {
  cursor: pointer;
  background: #fff;
  color: #292637;
}

.sidebar {
  width: 8%;
  min-width: 30px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rs-container {
  margin: 2.06rem;
  width: 60%;
}

.RS {
  width: 100%;
  margin: 0 3rem 1.5rem 0;
}

.RS img {
  width: 100%;
}

.div2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #272333;
}

.div2 img {
  width: 100%;
  top: -12%;
  position: relative;
}

.div_p {
  font-size: 87.5%;
  color: white;
}

.sidebar_div2 {
  width: 9%;
  min-width: 5.625rem;
  position: fixed;
  background: #fff;
}

.block_sidebar {
  background: #fff;
  width: 100%;
  height: 10.6rem;
}

.bl_sb {
  background: #000;
}

.rb {
  color: white;
}

.div3 {
  width: 100%;
  background: url("/images/bg.png") no-repeat;
  background-size: cover;
}

.div3 img {
  width: 100%;
}

.div_3_block {
  margin: 4.7875rem 0 0 9.66796875%;
}

.div_3_block h3 {
  font-size: 150%;
}

.div_3_block p {
  font-size: 112.5%;
}

.block_two_h3 {
  padding: 1.3125rem 0 0 9.66796875%;
  display: none;
}

.marketing_wrapper {
  display: none;
}

.div3_wrapper_button {
  display: none;
}

.div_3_button {
  background: rgba(255, 255, 255, 0) !important;
  padding-left: 10.112554% !important;
  width: 25.9% !important;
  white-space: nowrap;
  border: none !important;
}

.div3_p {
  left: 64px;
  text-decoration: underline;
  font-size: 87.5%;
}

.block_h3 {
  padding: 3.3125rem 0 0 9.66796875%;
  font-size: 150%;
}

.div_3_info {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 0 8.007%;
}

.div_3_main {
  margin-left: 8.112554% !important;
}

.marketing, .diz, .work {
  width: 45.1%;
  max-width: 28.125rem;
}

.usability, .adaptive, .seo {
  width: 45.1%;
  max-width: 28.125rem;
  padding-left: 9.667969%;
}

.div_3_info_h3 {
  padding-left: 5.667969%;
  color: black;
}

.diz_h3 {
  margin-top: 0;
}

.work_h3 {
  margin-top: 2px;
}

.div_3_info_p {
  background: #fff;
  border: 1px solid #2a2735;
  padding: 5%;
  font-size: 81.25% !important;
  color: black !important;
}

.info_block p {
  margin: 0;
  padding: 7px 1rem 1.5rem 1.3rem;
}

.who {
  margin-bottom: 5rem;
}

.who_h3 {
  font-size: 150%;
  margin-top: -53px;
  margin-bottom: 1px;
  padding-left: 9.66796875%;
}

.who_text {
  padding-left: 9.765625%;
  font-size: 112.5%;
  display: flex;
}

.who_text_p {
  width: 33.9%;
}

.input_wrapper {
  width: 60%;
  display: flex;
  align-items: center;
  min-width: 270px;
  justify-content: center;
}

.input_1, .input_2 {
  padding: 1% 5%;
  margin: 0 5%;
  width: 20%;
  background: #ffffff;
}

.input_1:hover, .input_2:hover {
  cursor: pointer;
  background: #292637;
  color: white;
}

.button_input:hover {
  .input_p1 {
    display: none;
  }
  .input_p2 {
    display: block;
  }
}

.input_p2 {
  display: none;
}

.div4 {
  background-image: linear-gradient(349deg, #0b0d1e, #2c2839);
  width: 100%;
}

.div_104_span {
  display: flex;
  color: white;
  position: relative;
  font-size: 120%;
  flex-direction: column;
}

.p_one {
  position: absolute;
  left: 10%;
}

.p_two {
  position: absolute;
  left: 40.7%;
}

.p_three {
  align-self: flex-end;
  width: 25.3%;
}

.div_104 {
  position: relative;
}

.div10_price {
  position: absolute;
  left: 40.7%;
  top: 0.8rem;
  color: #292637;
  font-size: 120%;
}

.div10_span {
  position: relative;
  border: 1px solid black;
  border-right: none;
  border-left: none;
  height: 2.5rem;
  display: flex;
  color: #292637;
  background: white;
  align-items: center;
  width: 90%;
  cursor: pointer;
  padding-left: 9.765625%;
  font-size: 120%;
}

.div10_span:hover {
  color: white;
  background: #292637;
}

.div_104:hover .div10_price {
  color: white;
}

.div10_p_one, .div10_p_two {
  position: absolute;
  padding-left: 64.5%;
  top: -13px;
  width: 10%;
}

.active p:first-child {
  display: none;
}

.active p:last-child {
  opacity: 1;
}

.div10:hover > .div10_span {
  text-decoration: underline;
  font-weight: 700;
  color: white;
  background: #2a2735;
}

.div10_main {
  display: none;
  padding-bottom: 2rem;
}

.div10_flex {
  display: flex;
  justify-content: space-between;
}

.div10_info {
  margin: 2.5625rem 0 0 4.11255411%;
  width: 40%;
}

.div10_info_h4 {
  font-size: 125%;
  color: #f1f1f1;
}

.div10_info p {
  color: #f1f1f1;
  font-size: 112.5%;
}

.div10_info_two {
  width: 40%;
  margin-top: 3rem;
  line-height: 1.39;
  font-size: 112.5%;
  color: #f1f1f1;
  margin-right: 7.03463203%;
}

.div5 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div_5_block {
  width: 21%;
  height: fit-content;
  margin-top: 4.9375rem;
  background-color: #362d48;
}

.div_5_block p {
  font-size: 112.5%;
  color: white;
  padding: 17% 13% 17% 17%;
}

.div_5_block_two {
  width: 48%;
  margin: 12.4375rem 0 7rem 0;
  background-color: #fcfcfc;
}

.div_5_block_two p {
  line-height: 1.43;
  font-size: 87.5%;
  color: #231e2e;
  padding: 5px 54px 2px 20px;
}

.div5_block_three {
  margin: -14.5rem 0 0 7.51953125%;
}

.div5_block_three h3 {
  opacity: 0.35;
  color: #ffffff;
  font-size: 375%;
}

.div5_block_three p {
  font-size: 112.5%;
  width: 55%;
  color: #000000;
  background: #fff;
  padding: 7px 22px 11px 19px;
  margin: -2rem 0 8rem 0;
}

.port {
  height: 620px;
  max-width: 1200px;
  min-width: 320px;
  width: 68.359375%;
  position: relative;
  margin: 0 auto;
}

.square {
  background: #0e0f20;
  position: absolute;
  overflow: hidden;
  border: 1px solid white;
  filter: opacity(85%);
  transition: all 0.6s ease-in-out;
}

.square:hover {
  filter: opacity(100%);
  transition: all 0.6s ease-in-out;
}

.square img {

  width: 100%;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.img5:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-in-out;
}

.sqr1 {
  width: 68.5714286%;
  left: 0;
  height: 50%;
  top: -3%;
}

.sqr2 {
  width: 31.4285714%;
  left: 68.6%;
  height: 47%;
}

.sqr3 {
  width: 45.9%;
  height: 252px;
  top: 47.1%;
  left: 2.2%;
}

.sqr4 {
  left: 48.2%;
  top: 47.1%;
  width: 48.8571429%;
  height: 404px;
}

.sqr5 {
  width: 48.2%;
  height: 152px;
  top: 87.6%;
  color: white;
  text-align: center;
  line-height: 1;
}

.sqr5 p {
  transition: all 0.6s ease-in-out;
}

.sqr5:hover {
  p {
    transform: scale(1.1);
    transition: all 0.6s ease-in-out;
  }
}

.slider {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div7 {
  width: 96%;
  background: #000;
  color: white;
  font-size: 112.5%;
  font-weight: 900;
  padding-left: 4.00390625%;
}

.footer {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
}

.message {
  width: 46%;
  min-width: 320px;
  background: #000;
  margin: 2.5rem auto 2.5rem;
}

.message_h3 {
  font-size: 112.5%;
  text-align: center;
  padding-top: 2.5rem;
  color: white;
}

.message p {
  color: white;
  font-size: 75%;
  padding-left: 5.08658009%;
}

.message_h3_two {
  color: white;
  padding-left: 5.08658009%;
}

.message_input {
  color: white;
  border: 1px white solid;
  background: black;
  margin-left: 5.08658009%;
  width: 90%;
}

.msg_inp {
  width: 53%;
  padding-left: 2.05627706%;
}

.button {
  margin: 1.5rem 0 1.5rem 5.08658009%;
  width: 101px;
}

.footer_subscribe {
  width: 96%;
  font-size: 112.5%;
  display: flex;
  align-items: center;
  color: white;
  background: #000;
  padding-left: 4.00390625%;
}

.subcribe_block a {
  color: white;
}

.subcribe_block_two {
  display: flex;
  margin: 3.7rem 0 0 2rem;
}

.SR {
  width: 100%;
  margin: 1.3rem;
}

.SR img {
  width: 100%;
  min-width: 26px;
}

@media screen and (max-width: 1070px) {
  .div5_block_three {
    margin-top: -10.5rem;
  }
  body {
    font-size: 90%;
  }
  .div10_p_one, .div10_p_two {
    top: -7px;
  }
}

/*@media screen and (max-width: 1000px) {*/
/*.sqr2 {*/
/*top: 20%;*/
/*left: 0;*/
/*transition: all 0.6s ease-in-out;*/
/*}*/
/*}*/

@media screen and (max-width: 800px) {
  .div10_price {
    left: 45.3%;
  }
  .p_two {
    left: 45.7%;
  }
}

@media screen and (max-width: 700px) {
  .developer {
    right: 12%;
  }
  .sidebar {
    width: 10%;
  }
  .rs-container {
    width: 75%;
  }
}

@media screen and (max-width: 710px) {
  .header_list {
    display: none;
  }
  .burger_trigger {
    display: block;
  }
  .RS {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 660px) {
  .div_3_block h3 {
    font-size: 20px;
  }

  .div_3_block p {
    font-size: 14px;
  }

  .block_two_h3 {
    display: block;
    font-size: 20px;
  }

  .marketing_wrapper {
    display: block;
    margin: 2rem 0 0 8.0078125%;
    width: 68%;

  }

  .div3_wrapper_button {
    display: block;
    margin-top: -2.3rem;
  }

  .div_3_button {
    font-size: 15px;
  }

  .div3_main {
    padding-bottom: 0;
  }

  .div_3_info {
    flex-direction: column;
  }

  .div_3_info_h3 {
    font-size: 19px;
  }

  .block_h3, .div_3_info {
    display: none;
  }

  .diz, .marketing, .work {
    width: 90%;
  }

  .adaptive, .seo, .usability {
    width: 100%;
    padding-left: 0;
  }

  .div3_p {
    top: 2.4rem;
    left: 77px;
  }

  .who {
    margin-top: 7.7rem;
  }

  .who_h3 {
    font-size: 20px;
  }

  .who_text {
    flex-direction: column;
  }

  .who_text_p {
    width: 70.9%;
    font-size: 14px;
    line-height: 1.5;
  }

  .input_1 {
    min-width: 70px;
    width: 10%;
  }

  .input_2 {
    min-width: 70px;
    width: 10%;
  }

  .input_3 {
    min-width: 90px;
    width: 11%;
  }

  .div10_info_h4 {
    font-size: 17px;
  }

  .div10_info p {
    font-size: 14px;
  }

  .div10_info_two {
    font-size: 14px;
  }

  .div_3_main {
    width: 100%;
  }

  .div_5_block p {
    font-size: 14px;
  }

  .div_5_block_two p {
    font-size: 13px;
  }

  .div5_block_three p {
    font-size: 14px;
  }

  .div7 {
    font-size: 14px;
  }
}

@media screen and (max-width: 655px) {
  .div10_span {
    width: 89.9%;
  }
}

@media screen and (max-width: 550px) {
  .div1 img {
    top: 35%;
  }

  .div5 {
    flex-direction: column;
    align-items: center;
  }

  .div_5_block {
    width: 41%;
  }

  .div_5_block_two {
    width: 85%;
    margin: 0;
  }

  .div5_block_three {
    margin-top: -2.5rem;
  }

  .footer_subscribe {
    flex-direction: column;
    align-items: flex-start;
  }

  .subcribe_block_two {
    margin: 0;
  }

  .SR img {
    width: 70%;
  }
}

@media screen and (max-width: 505px) {
  .developer {
    right: 14%;
    top: 84%;
  }

  .div1 {
    height: 90vh;
  }

  .sidebar {
    width: 13%;
    height: 90vh;
  }

  .rs-container {
    width: 90%;
  }

  .div2 {
    display: none;
  }

  .div_5_block p {
    font-size: 13px;
  }

  .RS {
    margin-right: 1.4rem;
  }

  .p_two {
    display: none;
  }

  .p_three {
    width: 38.3%;
  }

  .div10_p_one, .div10_p_two {
    padding-left: 50.5%;
  }

  .div10_price {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .developer {
    font-size: 14px;
  }
}

@media screen and (max-width: 430px) {
  .div10_span {
    font-size: 16px;
  }

  .div10_p_one, .div10_p_two {
    bottom: -7px;
  }
}

@media screen and (max-width: 410px) {
  .div5_block_three h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 380px) {
  .div3_wrapper_button {
    margin-top: 1.7rem;
  }
  .div10_p_one, .div10_p_two {
    padding-left: 53.5%;
  }
  .div10_span {
    font-size: 13px;
  }
  .input_2 {
    margin: 0 2%;
  }
  .div10_p_one, .div10_p_two {
    top: -2px;
  }

  .p_one {
    top: 16%;
  }
}
