body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  max-width: 100%;
}

.div1 {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(307deg, #272333, #000000);
  position: relative;
}

.div1 img {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 58%;
  min-width: 202px;
  animation: netflix_style 3.5s;
}

@keyframes netflix_style {
  0% {
    transform: scale(1.5, 1.5);
  }
  10% {
    transform: scale(1.5, 1.5);
  }

  20% {
    transform: scale(1.1, 1.1);
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}

.header_list {
  color: white;
  display: flex;
  height: 10vh;
  position: absolute;
  margin-left: 4.33839479%;
}

.header_list * {
  margin-left: 1rem;
}

.header_list p {
  font-size: 18px;
  text-decoration: underline;
  height: 2.5rem;
  width: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header_list p:hover {
  background: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.burger_trigger {
  position: absolute;
  left: 2.5%;
  width: 6.6rem;
  height: 4.1rem;
  display: none;
}

.burger_trigger:hover {
  cursor: pointer;
}

.burger {
  height: 5px;
  width: 50px;
  background: #fff;
  position: relative;
  top: 61%;
  left: 25%;
  border-radius: 10px;
  transition: all 0.1s;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50px;
  background: #fff;
  border-radius: 10px;
  transition: all .5s;
}

.burger:before {
  top: -16px;
}

.burger:after {
  top: 16px;
}

.menu {
  display: none;
  list-style: none;
  padding-left: 0;
  line-height: 40px;
  font-size: 18px;
  margin-top: 70px;
  color: white;
  li {
    text-decoration: underline;
    height: 2.5rem;
    width: 6.5rem;
    padding-left: 10px;
    border-radius: 5px;
    &:hover {
      background: white;
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.menu_opened {
  display: block;
}

.burger_trigger.active .burger {
  background: rgba(0, 0, 0, 0);
}

.burger_trigger.active .burger:before {
  top: 0;
  transform: rotate(45deg);
}

.burger_trigger.active .burger:after {
  top: 0;
  transform: rotate(135deg);
}

.developer {
  position: absolute;
  top: 89%;
  display: flex;
  right: 10%;
  font-size: 18px;
  align-items: center;
  color: white;
}

.developer p {
  padding-right: 20px;
}

.developer_input {
  background: #272333;
  color: white;
  border: 1px solid;
  padding: 0.7rem;
}

.developer_input:hover {
  cursor: pointer;
}

.developer_input:active {
  background: #000000;
}

.sidebar {
  width: 8%;
  min-width: 30px;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1_title {
  color: white;
  font-size: 20rem;
  margin: 7rem 0 0;
  text-align: center;
}

.div1_title_2 {
  color: white;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}

.rs-container {
  margin: 2.06rem;
}

.RS {
  width: 100%;
  margin: 0 3rem 1.5rem 0;
}

.RS img {
  width: 100%;
}

.div2 {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #272333;
}

.div2 img {
  width: 100%;
  top: -54%;
  position: relative;
}

.div_p {
  font-size: 14px;
  color: white;
}

.sidebar_div2 {
  width: 9%;
  min-width: 5.625rem;
  position: fixed;
  background: #fff;
}

.block_sidebar {
  background: #fff;
  width: 100%;
  height: 10.6rem;
}

.bl_sb {
  background: #000;
}

.rb {
  color: white;
}

.div3 {
  width: 100%;
  background: url("/images/bg.png") no-repeat;
  background-size: cover;
}

.div3 img {
  width: 100%;
}

.div_3_block {
  margin: 4.7875rem 0 0 9.66796875%;
}

.div_3_block h3 {
  font-size: 24px;
}

.div_3_block p {
  font-size: 18px;
}

.block_two_h3 {
  padding: 1.3125rem 0 0 9.66796875%;
  display: none;
}

.marketing_wrapper {
  display: none;
}

.div3_wrapper_button {
  display: none;
}

.div_3_button {
  background: rgba(255, 255, 255, 0) !important;
  padding-left: 10.112554% !important;
  width: 25.9% !important;
  white-space: nowrap;
}

.div3_p {
  left: 64px;
  text-decoration: underline;
  font-size: 14px;
}

.block_h3 {
  padding: 3.3125rem 0 0 9.66796875%;
  font-size: 24px;
}

.div_3_info {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 8.0078125%;
}

.div_3_main {
  margin-left: 8.112554% !important;
}

.marketing, .diz, .work {
  width: 45%;
  max-width: 28.125rem;
}

.usability, .adaptive, .seo {
  width: 47%;
  max-width: 28.125rem;
  padding-left: 7.667969%;
}

.div_3_info_h3 {
  margin-left: 5.667969%;
  color: black;
}

.diz_h3 {
  margin-top: 0;
}

.work_h3 {
  margin-top: 2px;
}

.div_3_info_p {
  background: #fff;
  border: 1px solid #2a2735;
  padding: 10px 10px 30px 5.667969%;
  width: 89%;
  font-size: 13px !important;
  color: black !important;
}

.info_block p {
  margin: 0;
  padding: 7px 1rem 1.5rem 1.3rem;
}

.who {
  margin-bottom: 5rem;
}

.who_h3 {
  font-size: 24px;
  margin-top: -53px;
  margin-bottom: 1px;
  padding-left: 9.66796875%;
}

.who_text {
  padding-left: 9.765625%;
  font-size: 18px;
  display: flex;
}

.who_text p {
  width: 33.9%;
}

.input_1 {
  margin: 45px 0 0 71px;
  background: #ffffff;
  border: solid 1px #2a2735;
  width: 18%;
  height: 3.75rem;
}

.input_2 {
  margin: 45px 0 0 17px;
  background: #ffffff;
  border: solid 1px #2a2735;
  width: 18%;
  height: 3.75rem;
}

.input_3 {
  width: 22%;
  height: 3.75rem
}

.input_1:hover, .input_2:hover {
  cursor: pointer;
  background: #eeeeee;
}

.input_1:active, .input_2:active {
  background: #25232f;
  color: white;
}

.div4 {
  background-image: linear-gradient(349deg, #0b0d1e, #2c2839);
  width: 100%;
}

.div10_span {
  position: relative;
  height: 2.5rem;
  display: flex;
  background: #f1f1f1;
  align-items: center;
  width: 95.9%;
  cursor: pointer;
  margin-top: 2rem;
  padding-left: 4.11255411%;
  font-weight: bold;
  font-size: 20px;
}

.div_104_span {
  margin-top: 5.625rem;
}

.div10_p_two {
  position: absolute;
  right: 0;
  padding-right: 9.9609375%;
  opacity: 0;
  bottom: -13px;
  display: flex;
}

.div10_p_one {
  position: absolute;
  right: 0;
  padding-right: 9.9609375%;
  bottom: -13px;
  display: flex;
}

.active p:first-child {
  display: none;
}

.active p:last-child {
  opacity: 1;
}

.div10:hover > .div10_span {
  text-decoration: underline;
  font-weight: 700;
}

.div10_main {
  display: none;
  padding-bottom: 2rem;
}

.div10_flex {
  display: flex;
  justify-content: space-between;
}

.div10_info {
  margin: 2.5625rem 0 0 4.11255411%;
  width: 40%;
}

.div10_info_h4 {
  font-size: 20px;
  color: #f1f1f1;
}

.div10_info p {
  color: #f1f1f1;
  font-size: 18px;
}

.div10_info_two {
  width: 40%;
  margin-top: 3rem;
  line-height: 1.39;
  font-size: 18px;
  color: #f1f1f1;
  margin-right: 7.03463203%;
}

.div5 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.div_5_block {
  width: 21%;
  height: fit-content;
  margin-top: 4.9375rem;
  background-color: #362d48;
}

.div_5_block p {
  font-size: 18px;
  color: white;
  padding: 17% 13% 17% 17%;
}

.div_5_block_two {
  width: 48%;
  margin: 12.4375rem 0 7rem 0;
  background-color: #fcfcfc;
}

.div_5_block_two p {
  line-height: 1.43;
  font-size: 14px;
  color: #231e2e;
  padding: 5px 54px 2px 20px;
}

.div5_block_three {
  margin: -14.5rem 0 0 7.51953125%;
}

.div5_block_three h3 {
  opacity: 0.35;
  color: #ffffff;
  font-size: 60px;
}

.div5_block_three p {
  font-size: 18px;
  width: 55%;
  color: #000000;
  background: #fff;
  padding: 7px 22px 11px 19px;
  margin: -2rem 0 8rem 0;
}

.slider {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  height: 64%;
}

.orbit {
  width: auto;
  height: auto;
}

#featured {
  width: 475% !important;
  height: 100% !important;
  overflow: hidden;
}

div.orbit-wrapper {
  width: 24%;
  height: 100% !important;
  position: relative;
  left: -7%;
}

div.orbit {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden
}

div.orbit > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

div.orbit > a {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 0;
  display: none;
}

.orbit > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

div.timer {
  width: 40px;
  left: 445%;
  overflow: inherit;
  position: absolute;
  top: 0;
  opacity: .6;
  cursor: pointer;
  z-index: 1001;
}

span.rotator {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  background: url("/images/rotator-black.png") no-repeat;
  z-index: 3;
}

span.mask {
  display: block;
  width: 20px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  overflow: hidden;
}

span.rotator.move {
  /* left: 0 */
}

span.mask.move {
  width: 40px;
  left: 0;
  background: url("/images/timer-black.png") repeat 0 0;
}

span.pause {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/images/pause-black.png") no-repeat;
  z-index: 4;
  opacity: 0;
}

span.pause.active {
  background: url("/images/pause-black.png") no-repeat 0 -40px
}

div.timer:hover span.pause,
span.pause.active {
  opacity: 1
}

/* CAPTIONS
   ================================================== */

.orbit-caption {
  /* display: none; */
  /* font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; */
}

.orbit-wrapper .orbit-caption {
  background: #000;
  background: rgba(0, 0, 0, .6);
  z-index: 1000;
  color: #fff;
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* DIRECTIONAL NAV
   ================================================== */

div.slider-nav {
  display: block;
}

div.slider-nav span {
  width: 40%;
  height: 20%;
  text-indent: -9999px;
  position: absolute;
  z-index: 1000;
  top: 37%;
  cursor: pointer;
}

div.slider-nav span.right {
  background: url("/images/right-arrow.png");
  background-size: 100% 100%;
  right: -375%;
}

div.slider-nav span.left {
  background: url("/images/left-arrow.png");
  background-size: 100% 100%;
  left: 0;
}

/* BULLET NAV
   ================================================== */

.orbit-bullets {
  position: absolute;
  z-index: 1000;
  list-style: none;
  bottom: -40px;
  left: 50%;
  margin-left: -50px;
  padding: 0;
}

.orbit-bullets li {
  float: left;
  margin-left: 5px;
  cursor: pointer;
  color: #999;
  text-indent: -9999px;
  background: url("/images/bullets.jpg") no-repeat 4px 0;
  width: 13px;
  height: 12px;
  overflow: hidden;
}

.orbit-bullets li.active {
  color: #222;
  background-position: -8px 0;
}

.orbit-bullets li.has-thumb {
  background: none;
  width: 100px;
  height: 75px;
}

.orbit-bullets li.active.has-thumb {
  background-position: 0 0;
  border-top: 2px solid #000;
}

.timer {
  display: flex;
}

div.caption {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  zoom: 1;
}

.div7 {
  width: 96%;
  background: #000;
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding-left: 4.00390625%;
}

.footer {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
}

.message {
  width: 46%;
  min-width: 300px;
  background: #000;
  margin: 2.5rem auto 2.5rem;
}

.message_h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 2.5rem;
  color: white;
}

.message p {
  color: white;
  font-size: 12px;
  padding-left: 5.08658009%;
}

.message_h3_two {
  color: white;
  padding-left: 5.08658009%;
}

.message_input {
  color: white;
  border: 1px white solid;
  background: black;
  margin-left: 5.08658009%;
  width: 90%;
}

.msg_inp {
  width: 53%;
  padding-left: 2.05627706%;
}

.button {
  margin: 1.5rem 0 1.5rem 5.08658009%;
  width: 101px;
}

.footer_subscribe {
  width: 96%;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: white;
  background: #000;
  padding-left: 4.00390625%;
}

.subcribe_block_two {
  display: flex;
  margin: 3.7rem 0 0 2rem;
}

.SR {
  width: 100%;
  margin: 1.5rem;
}

.SR img {
  width: 100%;
  min-width: 26px;
}

@media screen and (max-width: 1070px) {
  .div5_block_three {
    margin-top: -10.5rem;
  }
}

@media screen and (max-width: 750px) {
  div.timer {
    left: 435%;
  }
}

@media screen and (max-width: 700px) {
  div.orbit > img {
    height: 90%;
  }
}

@media screen and (max-width: 710px) {
  .header_list {
    display: none;
  }
  .burger_trigger {
    display: block;
  }
  .RS {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 660px) {

  .div_3_block h3 {
    font-size: 20px;
  }

  .div_3_block p {
    font-size: 14px;
  }

  .block_two_h3 {
    display: block;
    font-size: 20px;
  }

  .marketing_wrapper {
    display: block;
    margin: 2rem 0 0 8.0078125%;
    width: 68%;

  }

  .div3_wrapper_button {
    display: block;
    margin-top: -2.3rem;
  }

  .div_3_button {
    font-size: 15px;
  }

  .div3_main {
    padding-bottom: 0;
  }

  .div_3_info {
    flex-direction: column;
  }

  .div_3_info_h3 {
    font-size: 19px;
  }

  .block_h3, .div_3_info {
    display: none;
  }

  .diz, .marketing, .work {
    width: 90%;
  }

  .adaptive, .seo, .usability {
    width: 100%;
    padding-left: 0;
  }

  .div3_p {
    top: 2.4rem;
    left: 77px;
  }

  .who {
    margin-top: 7.7rem;
  }

  .who_h3 {
    font-size: 20px;
  }

  .who_text {
    flex-direction: column;
  }

  .who_text p {
    width: 70.9%;
    font-size: 14px;
    line-height: 1.5;
  }

  .input_1 {
    margin: 10px 0 0 0;
    min-width: 51px;
    width: 10%;
  }

  .input_2 {
    margin: 20px 0 0 15px;
    min-width: 49px;
    width: 10%;
  }

  .input_3 {
    min-width: 61px;
    width: 11%;
  }

  .div10_span {
    font-size: 18px;
  }

  .div10_info_h4 {
    font-size: 17px;
  }

  .div10_info p {
    font-size: 14px;
  }

  .div10_info_two {
    font-size: 14px;
  }

  .div_3_main {
    width: 100%;
  }

  .div_5_block p {
    font-size: 14px;
  }

  .div_5_block_two p {
    font-size: 13px;
  }

  .div5_block_three p {
    font-size: 14px;
  }

  .div7 {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  div.orbit > img {
    height: 80%;
  }
  div.slider-nav span {
    top: 29%;
  }
  div.timer {
    left: 424%;
  }
}

@media screen and (max-width: 550px) {
  .div1 img {
    top: 35%;
  }

  .div5 {
    flex-direction: column;
    align-items: center;
  }

  .div_5_block {
    width: 41%;
  }

  .div_5_block_two {
    width: 85%;
    margin: 0;
  }

  .div5_block_three {
    margin-top: -2.5rem;
  }

  div.slider-nav span {
    height: 18%;
  }

  .footer_subscribe {
    flex-direction: column;
    align-items: flex-start;
  }

  .subcribe_block_two {
    margin: 0;
  }

  .SR img {
    width: 70%;
  }
}

@media screen and (max-width: 505px) {
  .div_5_block p {
    font-size: 13px;
  }

  .RS {
    margin-right: 1.4rem;
  }

  div.orbit > img {
    height: 70%;
  }
}

@media screen and (max-width: 450px) {
  .developer {
    font-size: 14px;
  }

  div.orbit > img {
    height: 60%;
  }

  div.slider-nav span {
    height: 13%;
    top: 24%;
  }

  div.timer {
    left: 410%;
  }
}

@media screen and (max-width: 430px) {
  .div10_span {
    font-size: 16px;
  }

  .div10_p_one, .div10_p_two {
    bottom: -7px;
  }
}

@media screen and (max-width: 410px) {
  .div5_block_three h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 380px) {
  .div10_span {
    font-size: 13px;
  }

  div.timer {
    left: 395%;
  }
}
