body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  width: 100%;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

img {
  max-width: 100%;
}

.div1 {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(307deg, #272333, #000000);
  position: relative;
}

.div1 img {
  position: absolute;
  top: 25%;
  left: 25%;
}

.header_list {
  color: white;
  display: flex;
  height: 10vh;
  position: absolute;
  margin-left: 4.33839479%;
}

.header_list * {
  margin-left: 1rem;
}

.header_list p {
  font-size: 18px;
  text-decoration: underline;
  height: 2.5rem;
  width: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.header_list p:hover {
  background: white;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.burger_trigger {
  position: absolute;
  left: 2.5%;
  width: 6.6rem;
  height: 4.1rem;
  display: none;
}

.burger_trigger:hover {
  cursor: pointer;
}

.burger {
  height: 5px;
  width: 50px;
  background: #fff;
  position: relative;
  top: 61%;
  left: 25%;
  border-radius: 10px;
  transition: all 0.1s;
}

.burger:before,
.burger:after {
  content: '';
  position: absolute;
  height: 5px;
  width: 50px;
  background: #fff;
  border-radius: 10px;
  transition: all .5s;
}

.burger:before {
  top: -16px;
}

.burger:after {
  top: 16px;
}

.menu {
  display: none;
  list-style: none;
  padding-left: 0;
  line-height: 40px;
  font-size: 18px;
  margin-top: 70px;
  color: white;
  li {
    text-decoration: underline;
    height: 2.5rem;
    width: 6.5rem;
    padding-left: 10px;
    border-radius: 5px;
    &:hover {
      background: white;
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.menu_opened {
  display: block;
}

.burger_trigger.active .burger {
  background: rgba(0, 0, 0, 0);
}

.burger_trigger.active .burger:before {
  top: 0;
  transform: rotate(45deg);
}

.burger_trigger.active .burger:after {
  top: 0;
  transform: rotate(135deg);
}

.developer {
  position: absolute;
  top: 89%;
  display: flex;
  left: 50%;
  font-size: 18px;
  align-items: center;
  color: white;
}

.developer p {
  padding-right: 20px;
}

.developer_input {
  background: #272333;
  color: white;
  border: 1px solid;
  padding: 0.7rem;
}

.developer_input:hover {
  cursor: pointer;
}

.developer_input:active {
  background: #000000;
}

.sidebar {
  width: 8%;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div1_title {
  color: white;
  font-size: 20rem;
  margin: 7rem 0 0;
  text-align: center;
}

.div1_title_2 {
  color: white;
  font-size: 3.2rem;
  margin: 0;
  text-align: center;
}

.rs-container {
  margin: 2.06rem;
}

.RS {
  width: 100%;
  margin: 0 3rem 1.5rem 0;
}

.RS img {
  width: 100%;
}

.div2 {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.div2 img {
  width: 100%;
  top: -365px;
  position: relative;
}

.div_p {
  font-size: 14px;
  color: white;
}

.sidebar_div2 {
  width: 9%;
  min-width: 5.625rem;
  position: fixed;
  background: #fff;
}

.block_sidebar {
  background: #fff;
  width: 100%;
  height: 10.6rem;
}

.bl_sb {
  background: #000;
}

.rb {
  color: white;
}

.div3 {
  width: 100%;
  background: url("/images/bg.png") no-repeat;
  background-size: cover;
}

.div3 img {
  width: 100%;
}

.div_3_block {
  margin: 4.7875rem 0 0 9.66796875%;
}

.div_3_block h3 {
  font-size: 24px;
}

.div_3_block p {
  font-size: 18px;
}

.block_h3 {
  padding: 3.3125rem 0 0 9.66796875%;
  font-size: 24px;
}

.div_3_info {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 8.0078125%;
}

.marketing, .diz, .work {
  width: 45%;
  max-width: 28.125rem;
}

.usability, .adaptive, .seo {
  width: 47%;
  max-width: 28.125rem;
  padding-left: 7.667969%;
}

.div_3_info_h3 {
  margin-left: 5.667969%;
}

.diz_h3 {
  margin-top: 0;
}

.work_h3 {
  margin-top: 2px;
}

.div_3_info_p {
  background: #fff;
  border: 1px solid #2a2735;
  padding: 10px 10px 30px 5.667969%;
  width: 89%;
  font-size: 14px;
}

.info_block p {
  margin: 0;
  padding: 7px 1rem 1.5rem 1.3rem;
}

.who {
  margin-bottom: 5rem;
}

.who_h3 {
  font-size: 24px;
  margin-top: -53px;
  margin-bottom: 1px;
  padding-left: 9.66796875%;
}

.who_text {
  padding-left: 9.765625%;
  font-size: 18px;
  display: flex;
}

.who_text p {
  width: 33.9%;
}

.input_1 {
  margin: 45px 0 0 71px;
  background: #ffffff;
  border: solid 1px #2a2735;
  width: 9%;
  height: 3.75rem;
}

.input_2 {
  margin: 45px 0 0 17px;
  background: #ffffff;
  border: solid 1px #2a2735;
  width: 9%;
  height: 3.75rem;
}

.input_3 {
  width: 11%;
  height: 3.75rem
}

.input_1:hover, .input_2:hover {
  cursor: pointer;
  background: #eeeeee;
}

.input_1:active, .input_2:active {
  background: #25232f;
  color: white;
}

.div4 {
  background-image: linear-gradient(349deg, #0b0d1e, #2c2839);
  width: 100%;
}

.div10_span {
  position: relative;
  height: 2.5rem;
  display: flex;
  background: #f1f1f1;
  align-items: center;
  width: 95.9%;
  cursor: pointer;
  margin-top: 2rem;
  padding-left: 4.11255411%;
  font-weight: bold;
  font-size: 20px;
}

.div_104_span {
  margin-top: 5.625rem;
}

.div10_p_two {
  position: absolute;
  right: 0;
  padding-right: 9.9609375%;
  opacity: 0;
  bottom: -13px;
  display: flex;
}

.div10_p_one {
  position: absolute;
  right: 0;
  padding-right: 9.9609375%;
  bottom: -13px;
  display: flex;
}

.active p:first-child {
  display: none;
}

.active p:last-child {
  opacity: 1;
}

.div10:hover > .div10_span {
  text-decoration: underline;
  font-weight: 700;
}

.div10_main {
  display: none;
  padding-bottom: 2rem;
}

.div10_flex {
  display: flex;
  justify-content: space-between;
}

.div10_info {
  margin: 2.5625rem 0 0 4.11255411%;
}

.div10_info_h4 {
  font-size: 20px;
  color: #f1f1f1;
}

.div10_info p {
  color: #f1f1f1;
  font-size: 18px;
}

.div10_info_two {
  width: 22.4375rem;
  margin-top: 3rem;
  line-height: 1.39;
  font-size: 18px;
  color: #f1f1f1;
  margin-right: 7.03463203%;
}

.div5 {
  filter: blur(0.2px);
  width: 100%;
  display: flex;
  justify-content: center;
}

.div_5_block {
  width: 21%;
  height: fit-content;
  margin-top: 4.9375rem;
  background-color: #362d48;
}

.div_5_block p {
  font-size: 18px;
  color: white;
  padding: 17% 13% 17% 17%;
}

.div_5_block_two {
  width: 48%;
  filter: blur(0.1px);
  margin: 12.4375rem 0 7rem 0;
  background-color: #fcfcfc;
}

.div_5_block_two p {
  line-height: 1.43;
  font-size: 14px;
  color: #231e2e;
  padding: 5px 54px 2px 20px;
}

.div5_block_three {
  margin: -14.5rem 0 0 7.51953125%;
}

.div5_block_three h3 {
  opacity: 0.35;
  color: #ffffff;
  font-size: 60px;
}

.div5_block_three p {
  font-size: 18px;
  width: 55%;
  color: #000000;
  background: #fff;
  padding: 7px 22px 11px 19px;
  margin: -2rem 0 8rem 0;
}

.slider {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider_block {
  width: 85%;
  height: 36rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.slider_sidebar {
  width: 27%;
  height: 100%;
  background: #000;
}

.slider_sidebar h2 {
  margin: 0;
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 2rem;
}

.slider_block_two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 75%;
}

.slider_scroll {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.slider_item {
  width: 72%;
  height: 6.4375rem;
  margin-left: 2.5rem;
  border: 1px solid white;
}

.item {
  margin-top: 1.9rem;
}

.up {
  margin-bottom: 1rem;
}

.down {
  margin-top: 14.5rem;
  position: absolute;
}

.circle_img {
  position: relative;
  left: 56%;
  top: 23%;
}

.slider_item p {
  color: white;
  font-size: 11px;
  text-align: center;
  padding-top: 32px;
}

.slider_block_scroll {
  width: 73%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

.block_scroll {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
}

.masterskaya {
  background: url("/images/masterskya.png") no-repeat;
  background-size: cover;
}

.kvadrati {
  background: url("/images/kvadrati.png") no-repeat;
  background-size: cover;
}

.kvadrati2 {
  background: url("/images/kvadrati2.png") no-repeat;
  background-size: cover;
}

.manipulyator {
  background: url("/images/manipulyator.png") no-repeat;
  background-size: cover;
}

.div7 {
  width: 96%;
  background: #000;
  height: 6.25rem;
  color: white;
  font-size: 18px;
  font-weight: 900;
  padding-left: 4.00390625%;
}

.footer {
  width: 100%;
  background: url("/images/13501.png") no-repeat;
  background-size: cover;
}

.message {
  width: 46%;
  height: 36.5rem;
  background: #000;
  margin: 2.5rem auto 2.5rem;
}

.message_h3 {
  font-size: 18px;
  text-align: center;
  padding-top: 2.5rem;
  color: white;
}

.message p {
  color: white;
  font-size: 12px;
  padding-left: 5.08658009%;
}

.message_h3_two {
  color: white;
  padding-left: 5.08658009%;
}

.message_input {
  color: white;
  border: 1px white solid;
  background: black;
  margin-left: 5.08658009%;
  width: 90%;
}

.msg_inp {
  width: 16.3125rem;
  padding-left: 2.05627706%;
}

.button {
  margin-top: 1.5rem;
  width: 101px;
}

.footer_subscribe {
  width: 96%;
  height: 7.5rem;
  font-size: 18px;
  display: flex;
  align-items: center;
  color: white;
  background: #000;
  padding-left: 4.00390625%;
}

.subcribe_block_two {
  display: flex;
  margin: 0.7rem 0 0 2rem;
  height: 60px;
}

.SR {
  width: 51px;
  margin: 1.5rem;
}

.SR img {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .header_list {
    display: none;
  }
  .burger_trigger {
    display: block;
  }
}